@{
    ViewBag.Title = "Home Page";
}

<form action="/Home/AddUser">
    <br /><br />
    First name: <input type="text" name="FirstName" /><br /><br />
    Last name: <input type="text" name="LastName" /><br /><br />
    Username: <input type="text" name="Username" /><br /><br />
    Email: <input type="email" name="Email" /><br /><br />
    Password: <input type="password" name="Password" /><br /><br />
    <input type="submit" />
</form>